<div class="window">

  <div class="feed">

    <ul ng-if="!vm.commandHistory" class="result">
      <li class="ready">Ready…</li>
    </ul>

    <ul ng-if="vm.commandHistory" class='result' feed-scroll="vm.commandHistory">

      <div ng-repeat="command in vm.commandHistory">

        <li ng-if="command.userCommand" class='user-print'>
          <span class="path">$</span>{{command.userCommand}}
        </li>

        <li ng-if="command.image">
          <img class="feed-image" ng-src="{{command.image}}">
        </li>

        <li ng-if="command.appointment" class='user-print'>
          <span class="date" style="color:red">New Appointment for {{command.appointment.date}}: </span>{{command.appointment.text}}
        </li>

        <li ng-if="command.appResponse">
          <span class="response">~</span>{{command.appResponse}}
        </li>

        <li ng-if="command.err">

        </li>

        <p ng-show="command.err" class="err" style="color: red;">{{command.err}}</p>
      </div>

      <li ng-if="vm.loading" class="loading">Loading ...</li>
    </ul>

  </div>
  <!-- user input -->
  <div class="command-area">
    <label for="command-input">$</label>
    <input type="text" id="command-input" class="command" ng-model='vm.command' ng-change='vm.change(vm.command)' my-enter="vm.submitCommand(vm.command)" placeholder="type command here…" />
  </div>

</div>

<div class="playground">
<!-- manual -->
  <div ng-if="vm.displayManual" class="command-manual">
    <p ng-repeat="command in vm.appCommands"> {{command}} </p>
  </div>

  <!-- date-picker -->
  <div class="container">
    <div ng-if="vm.displayDatePicker" class="row">
      <div class="col-md-6">
       <uib-datepicker ng-model="vm.dt" show-weeks="true" class="well well-sm" ></uib-datepicker>
      </div>
      <div class="col-md-6">
        <textarea ng-model="vm.dateMessage" placeholder="{{vm.dt}}" class="form-control"rows="10" style="resize:none"></textarea>
        <button ng-click="vm.submitAppointment(vm.dateMessage)">Submit date</button>
      </div>
    </div>
  </div>

  <!-- img-preview -->
  <div class="img-preview">
    <img ng-if="vm.myGif" ng-src="{{vm.myGif}}" ng-click="vm.selectImg(vm.myGif)">
    <img ng-if="vm.myMeme" ng-src="{{vm.myMeme}}" ng-click="vm.selectImg(vm.myMeme)">
    <img ng-if="vm.myPhoto" ng-src="{{vm.myPhoto}}" ng-click="vm.selectImg(vm.myPhoto)">
  </div>

  <!-- data-bind -->
  <span>{{vm.command}}</span>
</div>
